    <style>
     
        .container {
            margin-top: 50px;
        }

        .cart-header {
            background-color: #6a1b9a;
            color: white;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 30px;
            text-align: center;
        }

        .cart-item {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .cart-total {
            background-color: #6a1b9a;
            color: white;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
        }

        .btnAddtoCart {
            background-color: #ff0080;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .btnAddtoCart:hover {
            background-color: #4a148c;
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    {{#if user}}
    <div class="container mt-4 mb-5">
        <div class="cart-header">
            <p>Carrito de compras de {{user.name}} {{user.last_name}}!</p>
        </div>

        {{#each products}}
        <div class="cart-item">
            <p><strong>Producto:</strong> {{this.product.title}}</p>
            <p><strong>Precio:</strong> ${{this.product.price}}</p>
            <p><strong>Cantidad:</strong> {{this.quantity}}</p>
        </div>
        {{/each}}

        <div class="cart-total">
            <p><strong>Total:</strong> ${{this.totalPrice}}</p>
            <form action="/api/carts/{{cartId}}/purchase/" method="POST">
                <input type="hidden" name="email" value="{{this.email}}">
                <input type="hidden" name="amount" value="{{this.totalPrice}}">
                <button class="btnAddtoCart" type="submit" data-id="{{this._id}}">Finalizar compra</button>
            </form>
        </div>
    </div>
    {{/if}}

</body>

</html>